body {
    background-image: url("carta.jpg");
    
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    margin: 0 20% 5% 20%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

p {
    font-size: 30px;
    margin: 0 20% 5% 20%;
    display: flex;
    justify-content: center;
    font-family: 'Grandstander', cursive;
}


.email {
    font-size: 10px;
}

@media screen and (max-width: 1055px) {

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 15px;
    }
}